/* 메뉴탑 */

div.mnTopWrap{
    background-color: #000;
    color: #fff;
}
div.mnTopWrap>div.menuTop{
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
    line-height: 40px;
    text-transform: capitalize;
}
div.mnTopWrap>div.menuTop::after{
    display: block;
    clear: both;
    content: '';
}
div.mnTopWrap>div.menuTop>div.info{
    float: left;
}
div.mnTopWrap>div.menuTop>div.info>h4{
    float: left;
    margin-right: 30px;
}
div.mnTopWrap>div.menuTop>div.info>h4:nth-child(2){
    text-transform: lowercase;
}
div.mnTopWrap>div.menuTop>ul.nav{
    float: right;
}
div.mnTopWrap>div.menuTop>ul.nav>li{
    float: left;
    margin-left: 20px;
}

/* 헤더 */

div.hdrWrap{}
div.hdrWrap>div.header{
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
    position: relative;
}
div.hdrWrap>div.header>div.hdrTop{
    padding: 40px 0;
    line-height: 40px;
}
div.hdrWrap>div.header>div.hdrTop::after{
    content: '';
    display: block;
    clear: both;
}
div.hdrWrap>div.header>div.hdrTop>h4{
    width: calc(100% / 12 * 2);
    float: left;
    font-size: 12px;
}
div.hdrWrap>div.header>div.hdrTop>h4>i{
    margin-right: 10px;
    font-size: 16px;
}
div.hdrWrap>div.header>div.hdrTop>h1{
    width: calc(100% / 12 * 8);
    float: left;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
}
div.hdrWrap>div.header>div.hdrTop>div.btn{
    width: calc(100% / 12 * 2);
    float: left;
    font-size: 14px;
    background-color: #fc0;
    padding-left: 10px;
}
div.hdrWrap>div.header>div.hdrTop>div.btn>i{}
div.hdrWrap>div.header>div.hdrTop>div.btn>span{
    margin-left: 10px;
}
div.hdrWrap>div.header>div.hdrBtm{
    background-color: darkgreen;
    color: #fff;
    line-height: 80px;
    padding-right: 40px;
    position: absolute;
    z-index: 2px;
}
div.hdrWrap>div.header>div.hdrBtm::after{
    content: '';
    clear: both;
    display: block;
}
div.hdrWrap>div.header>div.hdrBtm>ul.nav{
    float: left;
}
div.hdrWrap>div.header>div.hdrBtm>ul.nav>li{
    float: left;
    font-size: 16px;
    margin-left: 40px;
    text-transform: capitalize;
    font-weight: 700;
}
div.hdrWrap>div.header>div.hdrBtm>ul.menu{
    float: right;
    margin-left: 320px;
}
div.hdrWrap>div.header>div.hdrBtm>ul.menu>li{
    float: left;
    font-size: 20px;
}
div.hdrWrap>div.header>div.hdrBtm>ul.menu>li>i{}

/* 메인 */

div.mainWrap{
    background-color: #ccc;
    margin-top: 40px;
    z-index: 1px;
}
div.mainWrap>div.main{
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
    padding: 320px 0px;
}
div.mainWrap>div.main>h2{
    font-size: 54px;
}
div.mainWrap>div.main>h5{
    font-size: 13.5px;
    margin-top: 20px;
}
/* 배너 공통 */

div.bnrWrap div.banner{
    max-width: 1080px;
    width: 80%;
    margin: 0 auto;    
}

/* 배너 */

div.bnrWrap.bnrWrap01{}
div.bnrWrap.bnrWrap01>div.banner.bnr01{
    margin-top: -120px;
}
div.bnrWrap.bnrWrap01>div.banner.bnr01>div.bnrTop{}
div.bnrWrap.bnrWrap01>div.banner.bnr01>div.bnrTop::after{
    content: '';
    display: block;
    clear: both;
}
div.bnrWrap.bnrWrap01>div.banner.bnr01>div.bnrTop>div.texts{
    width: calc(100% / 4 - 20px);
    margin:  0px 10px ;
    float: left;
    padding-left: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #cbebeb;
    padding-right: calc(100% / 12 * 0.5);
}
div.bnrWrap.bnrWrap01>div.banner.bnr01>div.bnrTop>div.texts>h3{
    font-size: 18px;
    line-height: 40px;
    font-weight: 700;
}
div.bnrWrap.bnrWrap01>div.banner.bnr01>div.bnrTop>div.texts>h3::before{
    content: '';
    display: block;
    width: 20px;
    height: 1px;
    background-color: #000;
}
div.bnrWrap.bnrWrap01>div.banner.bnr01>div.bnrTop>div.texts>p{
    font-size: 14px;
    line-height: 20px;
    height: 80px;
    overflow: hidden;
}
div.bnrWrap.bnrWrap01>div.banner.bnr01>div.bnrTop>div.texts>div.btn{
    line-height: 30px;
    background-color: #fc0;
    text-transform: uppercase;
    width: calc(100% / 4 * 2);
    text-align: center;
    font-size: 12px;
    margin-top: 10px;
    border-radius: 5px;
}
div.bnrWrap.bnrWrap01>div.banner.bnr01>div.bnrTop>div.texts:hover{
    background-color: #333;
    color: #fff;
}
div.bnrWrap.bnrWrap01>div.banner.bnr01>div.bnrTop>div.texts:hover>div.btn{
    background-color: #fff;
    color: #333;
}
div.bnrWrap.bnrWrap01>div.banner.bnr01>div.bnrTop>div.texts:hover>h3::before{
    background-color: #fff;
}
div.bnrWrap.bnrWrap01>div.banner.bnr01>div.bnrBtm{
    margin-top: 40px;
}
div.bnrWrap.bnrWrap01>div.banner.bnr01>div.bnrBtm::after{
    content: '';
    display: block;
    clear: both;
}
div.bnrWrap.bnrWrap01>div.banner.bnr01>div.bnrBtm>div.menu{
    width: calc(100% / 5 - 20px);
    margin: 0px 10px ;
    float: left;
}
div.bnrWrap.bnrWrap01>div.banner.bnr01>div.bnrBtm>div.menu>div.image{
    width: 38%;
    height: 80px;
    background-color: #333;
    border-radius: 50%;
    float: left;
}
div.bnrWrap.bnrWrap01>div.banner.bnr01>div.bnrBtm>div.menu>div.image.i1{}
div.bnrWrap.bnrWrap01>div.banner.bnr01>div.bnrBtm>div.menu>div.image.i2{}
div.bnrWrap.bnrWrap01>div.banner.bnr01>div.bnrBtm>div.menu>div.image.i3{}
div.bnrWrap.bnrWrap01>div.banner.bnr01>div.bnrBtm>div.menu>div.image.i4{}
div.bnrWrap.bnrWrap01>div.banner.bnr01>div.bnrBtm>div.menu>div.image.i5{}
div.bnrWrap.bnrWrap01>div.banner.bnr01>div.bnrBtm>div.menu>div.texts{
    width: 61%;
    padding-left: 13px;
    float: left;
}
div.bnrWrap.bnrWrap01>div.banner.bnr01>div.bnrBtm>div.menu>div.texts>h5{
    font-size: 12px;
    line-height: 20px;
}
div.bnrWrap.bnrWrap01>div.banner.bnr01>div.bnrBtm>div.menu>div.texts>h3{
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    
}
/* 컨텐츠 공통 */

div.cntWrap div.content{
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
    margin-top: 120px;
}
div.cntWrap>div.content>div.header{
    text-align: center;
}
div.cntWrap>div.content>div.header>h2{
    font-size: 36px;
    line-height: 40px;
    font-weight: 700;
    text-transform: capitalize;
}
div.cntWrap>div.content>div.header>h5{
    font-size: 12px;
    line-height: 40px;
}
div.cntWrap>div.content>div.header>p{
    font-size: 14px;
    line-height: 20px;
    height: 40px;
    overflow: hidden;
    width: calc(100% / 12 * 6);
    margin: 0 auto;
}
div.cntWrap>div.content>div.section{
    margin-top: 40px;
}
div.cntWrap>div.content>div.section div.article h3{
    font-size: 18px;
    line-height: 40px;
    font-weight: 700;
}
div.cntWrap>div.content>div.section div.article p{
    font-size: 14px;
    line-height: 20px;
    overflow: hidden;
    width: calc(100% / 12 * 6);
}
/* 컨텐츠 01 */

div.cntWrap:nth-child(5){
    margin-top: 40px;
    background-color: #ccc;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
}
div.cntWrap>div.content.cnt01{
    padding: 120px 0px;
}
div.cntWrap>div.content.cnt01>div.header{
    text-align: center;
}
div.cntWrap>div.content.cnt01>div.header>h5{}
div.cntWrap>div.content.cnt01>div.header>h2{
    line-height: 40px;
}
div.cntWrap>div.content.cnt01>div.header>h2::after{
    content: '';
    display: block;
    width: calc(100% / 12 * 1.2);
    height: 12px;
    background-color: green;
    margin: 0 auto;
    margin-top: 16px;
}
div.cntWrap>div.content.cnt01>div.header>p{
    width: calc(100% / 12 * 6);
    margin: 0 auto;
    margin-top: 16px;
}
div.cntWrap>div.content.cnt01>div.section{}
div.cntWrap>div.content.cnt01>div.section:after{
    content: '';
    display: block;
    clear: both;
}
div.cntWrap>div.content.cnt01>div.section>div.article{
    width: calc(100% / 4 - 20px);
    margin: 0px 10px;
    float: left;
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.image{
    height: 120px;
    width: calc(100% / 3 * 1.5);
    background-color: green;
    border-radius: 50%;
    margin: 0 auto;
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.texts{
    margin-top: 20px;
    padding: 0px 10px;
    text-align: center;
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.texts>h3{}
div.cntWrap>div.content.cnt01>div.section>div.article>div.texts>p{
    height: 80px;
    margin: 0 auto;
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.texts>div.btn{
    line-height: 40px;
    background-color: #333;
    color: #fff;
    width: calc(100% / 3);
    margin: 0 auto;
    margin-top: 20px;
}

/* 컨텐츠 02 */

div.cntWrap>div.content.cnt02{
}
div.cntWrap>div.content.cnt02>div.header{}
div.cntWrap>div.content.cnt02>div.header>h5{}
div.cntWrap>div.content.cnt02>div.header>h2{}
div.cntWrap>div.content.cnt02>div.header>h2::after{
    content: '';
    display: block;
    width: calc(100% / 12);
    height: 5px;
    background-color: #ccc;
    margin: 0 auto;
    margin-top: 18px;
}
div.cntWrap>div.content.cnt02>div.header>p{
    margin-top: 18px;
}
div.cntWrap>div.content.cnt02>div.section{}
div.cntWrap>div.content.cnt02>div.section::after{
    content: '';
    display: block;
    clear: both;
}
div.cntWrap>div.content.cnt02>div.section>div.article{
    width: calc(100% / 4 - 20px);
    margin: 0px 10px;
    float: left;
}
div.cntWrap>div.content.cnt02>div.section>div.article>div.image{
    height: 200px;
    background-color: green;
}
div.cntWrap>div.content.cnt02>div.section>div.article>div.texts{
    padding: 20px 0px;
}
div.cntWrap>div.content.cnt02>div.section>div.article>div.texts>h3{}
div.cntWrap>div.content.cnt02>div.section>div.article>div.texts>p{
    height: 60px;
}
div.cntWrap>div.content.cnt02>div.section>div.article>div.texts>div.btn{
    margin-top: 20px;
    font-size: 16px;
    font-weight: 700;
}

/* 배너 02 */

div.bnrWrap.bnrWrap02{
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;

}
div.bnrWrap.bnrWrap02>div.banner.bnr02{}
div.bnrWrap.bnrWrap02>div.banner.bnr02::after{
    content: '';
    display: block;
    clear: both;
}
div.bnrWrap.bnrWrap02>div.banner.bnr02>div.bnrLeft{
    width: 50%;

    float: left;
}
div.bnrWrap.bnrWrap02>div.banner.bnr02>div.bnrLeft>div.ovrGrid{
    background-color: green;
    width: calc((100vw - 1080px) / 2 + 100%);
    margin-left: calc((100vw - 1080px) / -2);
    height: 840px;
}
div.bnrWrap.bnrWrap02>div.banner.bnr02>div.bnrLeft>div.texts{
    margin-top: -840px;
    color: #fff;
    padding: 120px 0px;
}
div.bnrWrap.bnrWrap02>div.banner.bnr02>div.bnrLeft>div.texts>div.header{}
div.bnrWrap.bnrWrap02>div.banner.bnr02>div.bnrLeft>div.texts>div.header>h5{
    font-size: 15px;
    line-height: 40px;
}
div.bnrWrap.bnrWrap02>div.banner.bnr02>div.bnrLeft>div.texts>div.header>h2{
    font-size: 20px;
    line-height: 40px;
}
div.bnrWrap.bnrWrap02>div.banner.bnr02>div.bnrLeft>div.texts>div.header>h2::after{
    content: '';
    display: block;
    width: calc(100% / 6);
    height: 5px;
    background-color: #fff;
    margin-top: 20px;
}
div.bnrWrap.bnrWrap02>div.banner.bnr02>div.bnrLeft>div.texts>div.header>p{
    font-size: 12px;
    line-height: 20px;
    margin-top: 20px;
    height: 40px;
    overflow: hidden;
    width: calc(100% / 6 * 5.8);
}
div.bnrWrap.bnrWrap02>div.banner.bnr02>div.bnrLeft>div.texts>form{}
div.bnrWrap.bnrWrap02>div.banner.bnr02>div.bnrLeft>div.texts>form::after{
    content: '';
    display: block;
    clear: both;
}
div.bnrWrap.bnrWrap02>div.banner.bnr02>div.bnrLeft>div.texts>form>h4{}
div.bnrWrap.bnrWrap02>div.banner.bnr02>div.bnrLeft>div.texts>form>h4:nth-child(1){
    margin-top: 40px;
    font-size: 14px;
    line-height: 40px;
    font-weight: 700;
}
div.bnrWrap.bnrWrap02>div.banner.bnr02>div.bnrLeft>div.texts>form>h4:nth-child(11){
    margin-top: 20px;
}
div.bnrWrap.bnrWrap02>div.banner.bnr02>div.bnrLeft>div.texts>form>input{}
div.bnrWrap.bnrWrap02>div.banner.bnr02>div.bnrLeft>div.texts>form>label{
    margin-right: 40px;
}
div.bnrWrap.bnrWrap02>div.banner.bnr02>div.bnrLeft>div.texts>form>hr{
    background-color: #fff;
    height: 1px;
    border: 0;
     margin-top: 20px;
    }
div.bnrWrap.bnrWrap02>div.banner.bnr02>div.bnrLeft>div.texts>form>div.formWrap::after{
    content: '';
    display: block;
    clear: both;
}
div.bnrWrap.bnrWrap02>div.banner.bnr02>div.bnrLeft>div.texts>form>div.formWrap>div.formLeft{
    width: 50%;
    margin-top: 20px;
    float: left;
}
div.bnrWrap.bnrWrap02>div.banner.bnr02>div.bnrLeft>div.texts>form>div.formWrap>div.formLeft>h4{
    font-size: 14px;
    font-weight: 700;
    line-height: 40px;
}
div.bnrWrap.bnrWrap02>div.banner.bnr02>div.bnrLeft>div.texts>form>div.formWrap>div.formLeft>input{
    line-height: 40px;
}
div.bnrWrap.bnrWrap02>div.banner.bnr02>div.bnrLeft>div.texts>form>div.formWrap>div.formLeft>label{
    line-height: 40px;
    margin-right: 20px;
}
div.bnrWrap.bnrWrap02>div.banner.bnr02>div.bnrLeft>div.texts>form>div.formWrap>div.formRight{
    width: 50%;
    margin-top: 20px;
    float: left;
}
div.bnrWrap.bnrWrap02>div.banner.bnr02>div.bnrLeft>div.texts>form>div.formWrap>div.formRight>h4{
    line-height: 40px;
    font-weight: 700;
    font-size: 14px;
}
div.bnrWrap.bnrWrap02>div.banner.bnr02>div.bnrLeft>div.texts>form>div.formWrap>div.formRight>input{
    line-height: 40px;
    width: calc(100% / 3 * 2.5);
}
div.bnrWrap.bnrWrap02>div.banner.bnr02>div.bnrLeft>div.texts>form>div.formWrap>div.formRight>h4{
    font-weight: 700;
}
div.bnrWrap.bnrWrap02>div.banner.bnr02>div.bnrRight{
    width: 50%;

    height: 300px;
    float: left;
}
div.bnrWrap.bnrWrap02>div.banner.bnr02>div.bnrRight>div.ovrGrid{
    background-color: #ccc;
    width: calc((100vw - 1080px) / 2 + 100%);
    height: 840px;
}

div.bnrWrap.bnrWrap02>div.banner.bnr02>div.bnrLeft>div.texts>form>input:nth-last-child(1){
    width: calc(100% / 6 * 2);
    line-height: 40px;
    background-color: #fc0;
    display: block;
    margin-top: 40px;
    border: 0;
}

/* 컨텐츠 03 */


div.cntWrap>div.content.cnt03{}
div.cntWrap>div.content.cnt03>div.header{}
div.cntWrap>div.content.cnt03>div.header>h5{}
div.cntWrap>div.content.cnt03>div.header>h2{}
div.cntWrap>div.content.cnt03>div.header>h2::after{
    content: '';
    display: block;
    width: calc(100% / 13);
    height: 5px;
    margin: 0 auto;
    margin-top: 20px;
    background-color: #ccc;
}
div.cntWrap>div.content.cnt03>div.header>p{
    margin-top: 20px;
}
div.cntWrap>div.content.cnt03>div.section{}
div.cntWrap>div.content.cnt03>div.section::after{
    content: '';
    display: block;
    clear: both;
}
div.cntWrap>div.content.cnt03>div.section>div.article{
    width: calc(100% / 4 - 20px);
    margin: 0 10px;
    float: left;
}
div.cntWrap>div.content.cnt03>div.section>div.article>div.image{
    height: 280px;
    background-color: #ccc;
}
div.cntWrap>div.content.cnt03>div.section>div.article>div.image.i1{}
div.cntWrap>div.content.cnt03>div.section>div.article>div.image.i2{}
div.cntWrap>div.content.cnt03>div.section>div.article>div.image.i3{}
div.cntWrap>div.content.cnt03>div.section>div.article>div.image.i4{}
div.cntWrap>div.content.cnt03>div.section>div.article>div.texts{
    margin-top: -280px;
    padding: 40px 20px;
}
div.cntWrap>div.content.cnt03>div.section>div.article>div.texts>h5{
    font-size: 14px;
    line-height: 40px;
}
div.cntWrap>div.content.cnt03>div.section>div.article>div.texts>h3{
    line-height: 20px;
}
div.cntWrap>div.content.cnt03>div.section>div.article>div.texts>p{
    height: 60px;
    margin-top: 20px;
}
div.cntWrap>div.content.cnt03>div.section>div.article>div.texts>div.btn{
    font-size: 14px;
    line-height: 40px;
    font-weight: 700;
    text-transform: uppercase;
}

/* 푸터 */

div.ftrWrap{
    margin-top: 120px;
    background-color: #000;
    color: #fff;
}
div.ftrWrap>div.footer{
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
    padding: 40px 0px 60px;
}
div.ftrWrap>div.footer::after{
    content: '';
    display: block;
    clear: both;
}
div.ftrWrap>div.footer>div.ftrLeft{
    width: calc(100% / 12 * 9);
    float: left;
}
div.ftrWrap>div.footer>div.ftrLeft>ul.nav{}
div.ftrWrap>div.footer>div.ftrLeft>ul.nav::after{
    content: '';
    display: block;
    clear: both;
}
div.ftrWrap>div.footer>div.ftrLeft>ul.nav>li{
    float: left;
    font-size: 15px;
    line-height: 20px;
    border-right: 1px solid white;
    padding: 0px 20px;
}
div.ftrWrap>div.footer>div.ftrLeft>ul.nav>li:nth-child(1){
    padding: 0px;
    padding-right: 20px;
}
div.ftrWrap>div.footer>div.ftrLeft>ul.nav>li:nth-last-child(1){
    border-right: 0;
}
div.ftrWrap>div.footer>div.ftrLeft>div.info{
    margin-top: 40px;
    font-size: 10px;
}
div.ftrWrap>div.footer>div.ftrLeft>div.info::after{
    content: '';
    display: block;
    clear: both;
}
div.ftrWrap>div.footer>div.ftrLeft>div.info>h1{
    width: calc(100% / 9);
    font-weight: 700;
    line-height: 40px;
    text-transform: uppercase;
    float: left;
}
div.ftrWrap>div.footer>div.ftrLeft>div.info>div.add{
    line-height: 20px;
    
}
div.ftrWrap>div.footer>div.ftrLeft>div.info>div.add::after{
    content: '';
    display: block;
    clear: both;
}
div.ftrWrap>div.footer>div.ftrLeft>div.info>div.add>p{
    line-height: 20px;
    width: calc(100% / 12 * 9 );
    float: left;
    margin-left: -30px;
}
div.ftrWrap>div.footer>div.ftrLeft>div.info>div.add>h5{
    margin-top: 20px;
    float: left;
    margin-left: 60px;
}
div.ftrWrap>div.footer>div.ftrRight{
    width: calc(100% / 12 * 2);
    float: right;
}
div.ftrWrap>div.footer>div.ftrRight>select{
    width: 100%;
    height: 40px;
    background-color: #333;
    color: #fff;
    text-align: center;
}
div.ftrWrap>div.footer>div.ftrRight>select>option{}
div.ftrWrap>div.footer>div.ftrRight>div.sns{
    margin-top: 40px;
    font-size: 20px;
    text-align: center;
}
div.ftrWrap>div.footer>div.ftrRight>div.sns>i{}
div.ftrWrap>div.footer>div.ftrRight>div.sns>i:nth-child(1){
    color: #fc0;
}